<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_PATH" value="logs"/>
	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS,Europe/Rome}
				%highlight(%X{customData} %-5level) --- [%blue(%15.15t)] %cyan(%-40.40logger{39}) - %msg%n
				<!-- %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): 
					%msg%n%throwable -->
			</Pattern>
		</layout>
	</appender>
	<!-- LOG everything at INFO level -->
	<root level="info">
		<appender-ref ref="Console" />
	</root>
	<logger name="com.gpiazzolla"
		level="debug" additivity="false">
		<appender-ref ref="Console" />
	</logger>
</configuration>